@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

/* Helvetica Neue lt STD 95 */
@font-face {
  font-family: "helvetica_neue_lt_std95_black";
  src:
    url("/fonts/helvetica_neue_lt_std_95_black-webfont.woff2") format("woff2"),
    url("/fonts/helvetica_neue_lt_std_95_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Helvetica Neue regular */
@font-face {
  font-family: "helvetica_neueregular";
  src:
    url("/fonts/helveticaneueroman-webfont.woff2") format("woff2"),
    url("/fonts/helveticaneueroman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Helvetica Neue bold */
@font-face {
  font-family: "helvetica_neuebold";
  src:
    url("/fonts/helveticaneuebold-webfont.woff2") format("woff2"),
    url("/fonts/helveticaneuebold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-bg: #272727;
  --color-text: #FBF6ED;


  /*Typografi */
  --font-heading: 'helvetica_neue_lt_std95_black', sans-serif;
  --font-sans: 'helvetica_neueregular', sans-serif;
  --font-bold: 'helvetica_neuebold', sans-serif;
}

@layer base {

}

@layer components{

}

@layer utilities {
  /* 16:9 på ≥ lg (min-width: 1024px) */
  @media (min-width: 1024px) {
    .aspect-16-9-lg { aspect-ratio: 16 / 9; }
  }
}