---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import ListItem from "../components/ListItem.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="Titel">
	<main class="bg-bg">
		<section id="hero">
			<img src="/public/img/lea_resultat.webp" alt="Lea Nørager">
			<Heading htmlheading="h1" size="medium">
  					Multimedia
				</Heading>
			<Heading htmlheading="h1" size="large">
  					Designer
				</Heading>
		</section>
		<section id="about">
			<div>
				<Heading htmlheading="h1" size="large">
  					About
				</Heading>
				<Text teksttype="regular">I am a multimedia designer focused on creating aesthetic, intuitive, and functional digital solutions. I combine creativity and innovation with established design principles to ensure that my work is both visually engaging and practical in use.</Text>
				<Text teksttype="regular">With a sharp eye for detail, I see small features as opportunities to elevate a design from good to truly memorable.</Text>
			</div>
			<div>
				<img src="/public/img/lea2_resultat.webp" alt="Lea tager packshots">
			</div>
		</section>
		<section>
			<div>
				<Heading htmlheading="h1" size="large">
  					My work
				</Heading>
				<Text teksttype="regular">My design work explores a variety of visual worlds—from bold minimalism, where I experiment with typography, color, and contrast, to retro-inspired aesthetics defined by playful palettes, patterns, shapes, and textures.</Text>
				<Text teksttype="regular">I am equally inspired by a romantic and elegant design language, where beauty, balance, and attention to detail create a timeless expression.</Text>
				<Text teksttype="regular">Across all styles, I keep the user experience at the heart of every project.</Text>
			</div>
			<div>
				<img src="/public/img/kulturnat_resultat.webp" alt="Kulturnat footer">
				<img src="/public/img/kaffe_resultat.webp" alt="Kaffe-site hero">
				<img src="/public/img/tankestrom_resultat.webp" alt="Tankestrøm hero">
			</div>
		</section>
		<section>
			<Heading htmlheading="h1" size="large">
  					My skills
				</Heading>
			<div>
				<div>
					<Text teksktype="bold">Branding & Identity</Text>
					<ul class="list-disc pl-6">
						<ListItem>Brand identity & visual identity design</ListItem>
						<ListItem>Brand identity & visual identity design</ListItem>
						<ListItem>Concept development and storytelling</ListItem>
						<ListItem>Design systems & style guides</ListItem>
					</ul>
					<Text teksktype="bold">Digital Design & Prototyping</Text>
					<ul class="list-disc pl-6">
						<ListItem>UI & UX design in Figma</ListItem>
						<ListItem>Interactive prototypes & wireframing</ListItem>
						<ListItem>Usability testing & design evaluation</ListItem>
					</ul>
					<Text teksktype="bold">Creative Tools</Text>
					<ul class="list-disc pl-6">
						<ListItem>Adobe Creative Suite (Photoshop, Illustrator, InDesign)</ListItem>
						<ListItem>Motion & video: After Effects, Premiere Pro</ListItem>
						<ListItem>Audio design: Audition</ListItem>
					</ul>
				</div>
				<div>
					<Text teksktype="bold">Frontend Development</Text>
					<ul class="list-disc pl-6">
						<ListItem>HTML, CSS, JavaScript, Astro, Tailwind in VS Code</ListItem>
						<ListItem>Responsive and accessible design principles</ListItem>
					</ul>
					<Text teksktype="bold">Additional Skills</Text>
					<ul class="list-disc pl-6">
						<ListItem>Report writing & documentation</ListItem>
						<ListItem>Research and user insight methods</ListItem>
						<ListItem>Cross-disciplinary collaboration & project management</ListItem>
					</ul>
				</div>
			</div>
			<div>
				<img src="/public/img/mac_resultat.webp" alt="Macbook">
			</div>
		</section>
	</main>
</MainLayout>