---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import ListItem from "../components/ListItem.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="Titel">
	<main class="bg-bg">
		<section id="hero" class="grid grid-cols-1 h-screen lg:grid-cols-12 lg:h-auto">
			<img src="/img/lea_resultat.webp" alt="Lea Nørager" class="w-full h-screen object-cover col-span-full col-start-1 row-start-1 max-h-[900px] lg:col-start-1 lg:col-span-8 lg:h-auto">
			<div class="col-start-1 row-start-1 self-end justify-self-end pr-4 pb-8 lg:col-start-6 lg:col-span-7 lg:self-end lg:justify-self-start lg:pb-12 lg:pr-0">
				<Heading htmlheading="h1" size="medium">
  					Multimedia
				</Heading>
				<h1 class="font-heading text-text uppercase text-6xl lg:text-[148px]">Designer</h1>
			</div>
		</section>
		<section id="about" class="grid lg:grid-cols-2 lg:gap-8">
			<div class="px-4 pt-4 lg:px-0 lg:pl-8 lg:flex lg:flex-col lg:justify-between">
				<Heading htmlheading="h1" size="large" >
  					About
				</Heading>
				<div>
				<Text teksttype="regular">I am a multimedia designer focused on creating aesthetic, intuitive, and functional digital solutions. I combine creativity and innovation with established design principles to ensure that my work is both visually engaging and practical in use.</Text>
				<Text teksttype="regular">With a sharp eye for detail, I see small features as opportunities to elevate a design from good to truly memorable.</Text>
				</div>
			</div>
			<div>
				<img src="/img/lea2_resultat.webp" alt="Lea tager packshots" class="max-h-[800px]">
			</div>
		</section>
		<section id="work" class="px-4 pt-4 grid lg:grid-cols-12 lg:gap-8 lg:px-8">
			<div class="lg:col-start-5 lg:col-span-8">
				<Heading htmlheading="h1" size="large">
  					My work
				</Heading>
				<Text teksttype="regular">My design work explores a variety of visual worlds—from bold minimalism, where I experiment with typography, color, and contrast, to retro-inspired aesthetics defined by playful palettes, patterns, shapes, and textures.</Text>
				<Text teksttype="regular">I am equally inspired by a romantic and elegant design language, where beauty, balance, and attention to detail create a timeless expression.</Text>
				<Text teksttype="regular">Across all styles, I keep the user experience at the heart of every project.</Text>
			</div>
			<div class="place-self-center lg:place-self-start lg:col-start-1 lg:col-span-4 lg:row-start-1 lg:pt-10">
				<img src="/img/kulturnat_resultat.webp" alt="Kulturnat footer" class="mb-4">
				<img src="/img/kaffe_resultat.webp" alt="Kaffe-site hero" class="mb-4">
				<img src="/img/tankestrom_resultat.webp" alt="Tankestrøm hero" class="mb-4">
			</div>
		</section>
		<section id="skills" class="px-4 lg:px-0">
			<Heading htmlheading="h1" size="large" class="lg:text-right lg:pr-8">
  					My skills
				</Heading>
			<div class="grid lg:grid-cols-12 lg:px-8">
				<div class="lg:col-start-1 lg:col-span-6 lg:row-start-1 lg:grid lg:grid-cols-2 lg:gap-4 lg:pr-8">
					<div>
						<Text teksktype="bold">Branding & Identity</Text>
						<ul class="list-disc pl-6">
							<ListItem>Brand identity & visual identity design</ListItem>
							<ListItem>Brand identity & visual identity design</ListItem>
							<ListItem>Concept development and storytelling</ListItem>
							<ListItem>Design systems & style guides</ListItem>
						</ul>
						<Text teksktype="bold">Digital Design & Prototyping</Text>
						<ul class="list-disc pl-6">
							<ListItem>UI & UX design in Figma</ListItem>
							<ListItem>Interactive prototypes & wireframing</ListItem>
							<ListItem>Usability testing & design evaluation</ListItem>
						</ul>
						<Text teksktype="bold">Creative Tools</Text>
						<ul class="list-disc pl-6">
							<ListItem>Adobe Creative Suite (Photoshop, Illustrator, InDesign)</ListItem>
							<ListItem>Motion & video: After Effects, Premiere Pro</ListItem>
							<ListItem>Audio design: Audition</ListItem>
						</ul>
					</div>
					<div>
						<Text teksktype="bold">Frontend Development</Text>
						<ul class="list-disc pl-6">
							<ListItem>HTML, CSS, JavaScript, Astro, Tailwind in VS Code</ListItem>
							<ListItem>Responsive and accessible design principles</ListItem>
						</ul>
						<Text teksktype="bold">Additional Skills</Text>
						<ul class="list-disc pl-6">
							<ListItem>Report writing & documentation</ListItem>
							<ListItem>Research and user insight methods</ListItem>
							<ListItem>Cross-disciplinary collaboration & project management</ListItem>
						</ul>
					</div>
				</div>

				<div class="hidden lg:block lg:col-start-7 lg:col-span-6 lg:row-start-1">
					<img src="/img/mac_resultat.webp" alt="Macbook">
				</div>
			</div>
		</section>
	</main>
</MainLayout>