---
// Props fra komponentet
const { teksttype = "regular", stylingclasses = "" } = Astro.props;

// Base styles (fælles for alle tekster)
const baseClasses = "text-text mt-4 mb-1" ; 

// Typer af brødtekst
const typeClasses = {
  regular: "font-sans text-lg",   // helvetica_neueregular
  bold: "font-bold text-lg",      // helvetica_neuebold
};
---

<p class:list={[baseClasses, typeClasses[teksttype], stylingclasses]}>
  <slot />
</p>